body {
    background-color: #000;
    color: #aaa;
    max-width: 800px;
    margin: auto;
    font-family: Georgia, serif;
    font-size: 16pt;
}

h1 {
    font-size: 40pt;
    text-align: center;
}

h2 {
    font-size: 24pt;
}

#content {
    background-color: #222;
    border-color: #222;
    padding: 0 20px 0 20px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 10px;
}

#navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

#results {
    width: 100%;
    font-size: 16pt;
}

tbody tr {
    background-color: #282828;
}

tbody tr:nth-child(odd) {
    background-color: #2c2c2c;
}

#results td {
    padding: 2px;
    text-align: center;
}

#statistics {
    width: 100%;
    font-size: 16pt;
}

#statistics td {
    padding: 2px;
    width: 50%;
    text-align: center;
}

#notification {
    position: fixed;
    left: 50%;
    bottom:32px;
    min-width: 500px;
    margin-left: -250px;
    text-align: center;
    padding: 16px;
    background-color: #444;
    z-index: 1;
}

a[href] {
    color: #66f;
}

a[href]:hover {
    color: #aaf;
}

.newPlayer {
    color: #aa4;
}

.positiveChange {
    color: #4a8;
}

.negativeChange {
    color: #a44;
}
